<h2 class="page-title">{{currPageName}}</h2>

<section class="page-body">
    <p>When booting up the Raspberry Pi, you will first be greeted with this page. Click the "Next" button to continue.</p>
    <img src="../../assets/setup1.png" alt="Beginning of setup" class="end-of-section img-lg">

    <p>The next page that will appear will ask about your country, language , and timezone. Pick whatever applies to you.</p>
    <img src="../../assets/setup2.png" alt="Timezone setup" class="end-of-section img-lg">

    <p>By default, the password on the Raspberry Pi is "raspberry". It is recommended that you change the password, but you
        do not have to.</p>
    <img src="../../assets/setup3.png" alt="Password setup" class="end-of-section img-lg">

    <p>Next you will be able to connect to a WiFi network. It is only recommended to skip this step if the Raspberry Pi
        is plugged into ethernet.</p>
    <img src="../../assets/setup4.png" alt="Wifi setup" class="end-of-section img-lg">

    <p>This step asks you if you would like to update the software on the Raspberry Pi. It is recommended that you
        attempt to update (choosing "Next").
    </p>
    <img src="../../assets/setup5.png" alt="Update software" class="end-of-section img-lg">

    <p>You are now done with the setup! You just need to restart the Raspberry Pi and it is ready to use!</p>
    <img src="../../assets/setup6.png" alt="Beginning of setup" class="end-of-section img-lg">
</section>

<section class="change-page-buttons">
    <button (click)="navigateClick(4)">Back</button>
    <button (click)="navigateClick(6)">Next</button>
</section>