<h2 class="page-title">{{currPageName}}</h2>

<section class="page-body">
    <p>There are many programs that come preinstalled with the Raspberry Pi OS. These can be
        found my clicking on the raspberry icon in the top left of the screen.
    </p>

    <h3>Text Editor</h3>
    <p>The text editor is just one of many programs installed on the Raspberry Pi. You are able to read and
        write text files from a GUI.
    </p>
    <img src="../../assets/textEditor.png" alt="Text editor" class="end-of-section img-lg">

    <h3>Terminal</h3>
    <p>The terminal is one of the most important tools that you will have access to. It can be
        found under the programs list or in the task bar.
    </p>
    <img src="../../assets/terminal.png" alt="Text editor" class="end-of-section img-lg">

    <h3>IDE</h3>
    <p>In this version of the Raspberry Pi OS, the default Integrated Development Environments installed
        are Thonny and Geany. Thonny is specific to Python, while Geany works for a multitude of languages 
    </p>
    <img src="../../assets/ide.png" alt="Geany IDE" class="end-of-section img-lg">
    
    
</section>

<section class="change-page-buttons">
    <button (click)="navigateClick(6)">Back</button>
    <button (click)="navigateClick(8)">Next</button>
</section>