<h2 class="page-title">{{currPageName}}</h2>

<section class="page-body">
    <p>Now that you know how to set up a Raspberry Pi, you can start using them in fun projects!
        Here are some projects that might interest you:
    </p>

    <ul>
        <li>Twitter bot</li>
        <li>Set up a database</li>
        <li>Set up a webserver</li>
        <li>WordPress</li>
        <li>Control an LED strip</li>
    </ul>
    <p>For more ideas, check out the offical 
        <a href="https://projects.raspberrypi.org/en/projects?hardware%5B%5D=raspberry-pi" target="_blank">Raspberry Pi Projects</a> page!
    </p>
</section>

<section class="change-page-buttons">
    <button (click)="navigateClick(7)">Back</button>
    <button (click)="navigateClick(8)" disabled>Next</button>
</section>