<h2 class="page-title">{{currPageName}}</h2>

<section class="page-body">
    <p>In this demonstration, <a href="https://www.raspberrypi.org/software/operating-systems/" target="_blank">Raspberry Pi OS</a>
        will be used to image the microSD card. When you open the program, you should see an interface similar to this.
    </p>
    <img src="../../assets/imager.png" alt="Raspberry Pi Imager" class="end-of-section">
    
    <p>First, click the "Choose OS" button to see a list of operating systems. Choose the "Raspberry Pi OS (32-bit)" option 
        (most likely the first option).</p>
    <img src="../../assets/selectOS.png" alt="Select OS" class="end-of-section">

    <p>After choosing our operating system, we will need to select the SD card we want to use. Click "Choose SD Card" and select
        the microSD you wish to use.</p>
    <img src="../../assets/selectSD.png" alt="Select SD" class="end-of-section">

    <p>Now you are ready to write the SD card. Click "Write". You might get a warning asking if you want to overwrite the previous
        data on the card. If you are okay to do so, select "Yes".</p>
    <img src="../../assets/overwrite.png" alt="Overwrite SD" class="end-of-section">

    <p>You will have to wait a bit for the SD card to be imaged. Once it is done, you should see a screen similar to this.</p>
    <img src="../../assets/imagingComplete.png" alt="Imaging Complete" class="end-of-section">
</section>

<section class="change-page-buttons">
    <button (click)="navigateClick(3)">Back</button>
    <button (click)="navigateClick(5)">Next</button>
</section>
