<h2 class="page-title">{{currPageName}}</h2>

<section class="page-body">
    <p>A Raspberry Pi has many ports and 40 pins. The ports depend on the model of Raspberry Pi you have.
        A Raspberry Pi 3 Model B+ will be used in this example.
    </p>
    <h3>Ports</h3>
    <p>On a Raspberry Pi 3 Model B+, there are 4 USB ports, an ethernet port, 
        a micro-USB port for power, an HDMI port, audio jack, camera module port,
        and microSD card slot.</p>
    <img src="../../assets/ports.png" alt="Ports" class="end-of-section">

    <h3>Pinout</h3>
    <p>When it comes to the pinout, it will remain the same for every Raspberry Pi model. These pins allow
        users to combine digital logic with physical input and action. The pins are numbered, starting with
        the square pin.
    </p>
    <img src="../../assets/pinout.png" alt="Pinout" class="end-of-section">

</section>

<section class="change-page-buttons">
    <button (click)="navigateClick(2)">Back</button>
    <button (click)="navigateClick(4)">Next</button>
</section>
