<h2 class="page-title">{{currPageName}}</h2>

<section class="page-body">
    <h3>Hardware</h3>
    <ul>
        <li>MicroSD card</li>
        <li>A power supply</li>
        <li>Mouse and keyboard</li>
        <li>Monitor</li>
        <li>HDMI cable</li>
        <li>Ethernet Cable - optional</li>
    </ul>

    <h3>Software</h3>
    <p>There is one program that you will need to install in order to image the SD card. There are many 
        programs that can do this, but <a href="https://www.raspberrypi.org/software/" target="_blank">Raspberry Pi Imager</a> 
        will be used in this demonstration. </p>
    <img src="../../assets/imager.png" alt="Raspberry Pi Imager">
    <p>Raspberry Pi Imager lists some default operating systems to choose from. There are many to choose from but this demonstration will use 
        <a href="https://www.raspberrypi.org/software/operating-systems/" target="_blank">Raspberry Pi OS</a>, the
        official supported operating system.</p>
</section>

<section class="change-page-buttons">
    <button (click)="navigateClick(1)">Back</button>
    <button (click)="navigateClick(3)">Next</button>
</section>