<h2 class="page-title">{{currPageName}}</h2>

<section class="page-body">
    <h3>What is a Raspberry Pi?</h3>
    <p>A Raspberry Pi is a low cost, credit-card sized computer. It is capable of doing everything a desktop computer 
        to do such as browsing the internet, making programs, word-processing, and playing games. There are different 
        models ranging from around $5 to $35. The Raspberry Pi runs Linux (a variety of distributions), and is open 
        source!</p>
    <img src="" alt="Raspberry Pi" class="end-of-section">
    <h3>What you will learn</h3>
    <p>In this project, you will learn how to get a Raspberry Pi running and find out what it can do! This "Getting
        Started" page will walk you through the installation steps, show you what the pins are used for and how to read
        them, and show you what you can do in the Raspberry Pi.
    </p>

</section>

<section class="change-page-buttons">
    <button (click)="navigateClick(1)" disabled>Back</button>
    <button (click)="navigateClick(2)">Next</button>
</section>