/* You can add global styles to this file, and also import other style files */
@use "options"; 

body {
    width: 100%;
    min-height: 100vh;
    padding:0;
    margin:0;
    font-family: 'Rubik', sans-serif;
}


h2, h3, p, button, .page-title, li {
    color:options.$color-text-primary;
}



a {
    color:options.$color-primary;
    text-decoration: none;
    transition: color 0.15s ease;
    font-weight: bold;
    &:hover {
        color:options.$color-secondary;
    }
}





.page-title {
    font-size: 1.75em;
}

.page-body {
    margin-bottom: 6em;
    h3 {
        font-size: 1.3em;
        margin:2em 0 1em 0;
    }
    
    p, li{
        line-height: 1.5em;
        font-size: 1.05em;
        
    }
    li {
        list-style-type: circle;
    }
    img {
        margin:auto;
        display: block;
        max-width: 500px;
        &.end-of-section {
            margin-bottom: 4.5em;
        }
        &.img-lg {
            max-width: 650px;
        }
    }
    

}






.change-page-buttons {
    bottom:0;
    padding:1.25em 2.5em;
    left:0;
    right:0;
    position: absolute;
    display:flex;
    justify-content: space-between;
    border-top:2px solid options.$color-primary;
    button {
        outline:none;
        padding:0.6em 1.2em;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        &:not(:disabled) {
            cursor: pointer;
        }
        &:disabled {
            color: lighten(options.$color-text-primary, 35%);
        }
    }

    
}