@use "../../options"; 

#main-section {
    width:100%;
    height:100%;
    min-height:100vh;
    padding:0;
    margin:0;
}

header {
    background-color: options.$color-primary;
    color: options.$color-bg-primary;
    font-weight: bold;
    padding:0.4em 1em;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#contents {
    display:grid;
    grid-template-columns: 15em 1fr;
    min-height: calc(100vh - 5.1em);
   
}

#body-section {
    position: relative;
    padding:1em 2.5em;
    

}


.nav-collapse-icon {
    display:none;
    width:35px;
    border:1.7px solid options.$color-bg-primary;
    border-radius: 4px;
    padding:8px 7px;
    cursor: pointer;
    div {
        width:100%;
        height:4px;
        background-color: options.$color-bg-primary;
        border-radius: 2px;
    }
   :nth-child(2) {
        margin: 7px 0;
   }
      
}



nav {
    width:100%;
    height:100%;
    max-height: 50vh;
    background-color: options.$color-bg-secondary;
    padding-top:1em;
    box-sizing: border-box;
    transition: max-height 0.4s ease-in-out;
    
}
.nav-items {
    
}
.nav-link {
    color:options.$color-text-secondary;
    font-weight: normal;
    text-decoration: none;
    .nav-btn {
        padding:0.8em 1em;
        transition: color 0.2s ease;

        &:hover {
            color:options.$color-secondary;
        }
    }
    &.active {
        color: options.$color-primary;
        font-weight: bold;
        .nav-btn {
            background-color: options.$color-bg-primary;
        }
    }
}

@media all and (max-width:975px) {
    #body-section {
        padding:1em;
    
    }
}

@media all and (max-width:750px) {
    .nav-collapse-icon {
        display:block;
    }
    #contents {
        display:block;
    }
    nav {
        padding:0;
        overflow: hidden;
        &.hidden {
            max-height: 0;
            
        }
    }

}